@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Shopping Cart Home</h1>
    <p>Shopping Cart <a asp-page="/CartDetail/Index" ><i class="bi bi-cart"></i></a></p>
</div>
